[phases.setup]
nixPkgs = ['php84', 'php84Packages.composer', 'nodejs_20']

[phases.install]
dependsOn = ['setup']
# artisanを隠し、さらに環境変数でLaravelではないフリをする
cmds = [
    'mv artisan artisan.tmp',
    'composer install --no-dev --no-scripts --no-interaction --optimize-autoloader',
    'mv artisan.tmp artisan'
]

[phases.build]
dependsOn = ['install']
# ビルド中もartisanを隠したままにする
cmds = [
    'mv artisan artisan.tmp || true',
    'npm install && npm run build',
    'mv artisan.tmp artisan || true'
]

[start]
cmd = 'vendor/bin/heroku-php-apache2 public/'