[phases.setup]
# php84 を確実に指定
nixPkgs = ['php84', 'php84Packages.composer', 'nodejs_20']

[phases.install]
dependsOn = ['setup']
# composer実行前に環境変数を強制セット
cmds = [
    'export PHP_VERSION=8.4',
    'mv artisan artisan.bak || true',
    'composer install --no-dev --no-scripts --no-interaction --optimize-autoloader',
    'mv artisan.bak artisan || true'
]

[phases.build]
dependsOn = ['install']
cmds = [
    'npm install && npm run build'
]

[start]
cmd = 'vendor/bin/heroku-php-apache2 public/'