[phases.setup]
# php84を先頭に、かつcomposerも明示的に指定
nixPkgs = ['php84', 'php84Packages.composer', 'nodejs_20']

[phases.install]
dependsOn = ['setup']
# composer.lockを無視して、今の環境（8.4）に合わせて強制更新する
cmds = [
    'mv artisan artisan.bak || true',
    'composer update --no-dev --no-interaction --optimize-autoloader --ignore-platform-reqs',
    'mv artisan.bak artisan || true'
]

[phases.build]
dependsOn = ['install']
cmds = ['npm install && npm run build']

[start]
cmd = 'vendor/bin/heroku-php-apache2 public/'