[phases.setup]
nixPkgs = ['php84', 'php84Packages.composer', 'nodejs_20']

[phases.install]
dependsOn = ['setup']
# ビルド前にartisanを一時的に別名に変えて隠す！
cmds = [
    'mv artisan artisan.tmp',
    'composer install --no-dev --no-scripts --no-interaction --optimize-autoloader',
    'mv artisan.tmp artisan'
]

[phases.build]
dependsOn = ['install']
cmds = ['npm install && npm run build']

[start]
cmd = 'vendor/bin/heroku-php-apache2 public/'